<html>
<head>
</head>
<body>
    <h1>Obtener nº aleatorio</h1>
    <form method="post" action="{{ path('procesa') }}">
        Límite inf:<input type="number" name="num1"><br>
        Límte superior:<input type="number" name="num2"><br>
        <input type="submit">
    </form>
</body>
</html>